.backgroundSetting {
  background-image: url(../../assets/HeroSection2.png);
  background-position: center;
  background-size: cover;
}
@media (max-width: 600px) {
  .backgroundSetting {
    background-image: url(../../assets/mobileHero.png);
  }
}
