.bg-Cookie {
  background-image: url(../../assets/cookies/cookiesSectionBg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-Biscuit {
  background-image: url(../../assets/lotus/lotusbg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-Brownies {
  background-image: url(../../assets/brownies/browniesBg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-Vanilla {
  background-image: url(../../assets/vanilla/vanillaBg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-Strawberry {
  background-image: url(../../assets/strawberry/strawberry_bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
